
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: black;
    transition: all 5s ease;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}
